* {
    font-family: 'Baloo 2', cursive;
    font-family: 'Roboto Mono', monospace;
    background-color: #000000;
}


/* Navbar */

div.navbar-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.side-nav-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

div.cyb-nav {
    margin-left: 5%;
    color: #C8F902;
    font-size: 50px;
    font-family: 'Roboto Mono', monospace;
}

div.side-nav-wrap {
    margin-right: 5%;
    padding: 30px;
}

div.side-nav-wrap a,
div {
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
}

div.side-nav-wrap div.buy a {
    background-color: #C8F902;
    color: #000000;
}


/* Banner */
div.cyb-name-banner {
    color: #C8F902;
    font-size: 100px;
    font-family: 'Monoton', cursive;
}

div.banner-wrap {
    margin-left: 7%;
    margin-top: 7%;
}

div.date {
    font-size: 30px;
}

section.one {
    margin-top: 5%;
}

.ticket a {
    text-decoration: none;
    background-color: #C8F902;
}

section.one .ticket {
    background-color: #C8F902;
    display: inline;
    color: #ffffff;
    margin-left: 10%;
}
.conf-head{
    font-size: 30px;
}


/* About */

section.about {
    margin: 7%;
}

.head {
    font-size: 40px;
    color: #C8F902;
}

section.schedule {
    margin: 7%;
}

/* Schedule */

div.abt-sch {
    margin: 30%;
    margin-top: 0%;
    margin-bottom: 3%;
}

/* div.line{
    background-color: dimgrey;
} */

.schedule-wrap-container {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



/* TOPICS */
section.topics {
    margin-left: 7%;
}

/* .topic-wrap .head{
    margin: 7%;
} */
div.top-box {
    display: flex;
    flex-direction: column;
}

div.top-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



/* Contact */

section.contact {
    margin-top: 5%;
    background: #232531;
}

.conatct-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.quick {
    display: flex;
    flex-direction: column;
}

.quick a {
    text-decoration: none;
    color: #ffffff; 
    padding: 8px;
}

.quick a:hover {
    color: rgb(98, 8, 8);
  }
p.two {
    color: #818186;
}