/* Body */
body {
    background-color: black;
}

/* Header */
header {
    margin-top: 3%;

}


/* Navbar */

.navbar nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 8%;
    margin-right: 12%;
}

.navbar .workshop a {
    color: #C8F902;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    width: 2%;
}

/* .navbar .workshop span {
    color: #C8F902;
} */


.navbar .sections {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar .sections a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    padding: 7px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    line-height: 36px;
}

.navbar .sections a.ticket {
    background-color: #C8F902;
    color: #000000;
    margin-left: 3px;
}

/* Hero Section */
.hero .banner img {
    margin-left: 8%;
    width: 80%;
    margin-top: 5%;
}

.buy-tickets-btn {
    margin-top: 2%;
}

.hero .buy-tickets-btn a {
    margin-left: 35%;
    text-decoration: none;
    background-color: #ffffff;
    padding: 10px;
    color: #000000;
    width: 133px;
    height: 24px;
    left: 299px;
    top: 418px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}



/* About Section */
.about-section {
    margin-top: 10%;
    margin-left: 7%;
}

.about-section h2 {
    color: #C8F902;

}

.about-section p {
    color: #ffffff;
}



/* Schedule */

.schedule {
    margin-top: 10%;
    margin-left: 7%;

}

.schedule h2 {
    color: #C8F902;

}

.schedule .timing {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.schedule .timing .content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.schedule .timing .content .time p {
    color: #8E92A8;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.schedule .timing .content .prgm p.one {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #DEDEDE;
}

.schedule .timing .content .prgm p.two {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #DEDEDE;
}

.schedule .timing .content .prgm{
    margin-left: 8%;
}


/* Topics */

.topics {
    margin-top: 10%;
    margin-left: 7%;

}

.topics h2 {
    color: #C8F902;

}

.topics .main-topic {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.topics .main-topic .top{
    border-style: solid;
    border-width: thin;
    border-color: #C8F902;
    margin: 2%;
    margin-right: 30%;
}

.topics .main-topic .top p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;

}

.topics .main-topic h3 {
    font-family: 'Inter';
    font-style: normal;
    color: #FFFFFF;

}

/* Footer */

.foot {
    margin-top: 10%;
    margin-left: 7%;
}

.foot h2 {
    color: #C8F902;

}

.foot .contact-main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 5%;
}

.foot .contact-main .contact-a {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.foot .contact-main .contact-a p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}



/* Copyright */
.copyright{
    margin-top: 5%;
}
.copyright .cont p {
    color: #e6e7ed;
    text-align: center;
}
